<div class="login-container" style="margin: 0 30% 0 30%;">
    <h2 class="text-primary text-center">Login</h2>
    <form class="p-4 border rounded shadow-sm">
        <div class="form-group row mb-3">
            <label for="username" class="col-sm-4 col-form-label">Username</label>
            <div class="col-sm-8">
                <input type="text" id="username" [(ngModel)]="loginRequest.username" name="username" class="form-control" required />
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="password" id="password" [(ngModel)]="loginRequest.password" name="password" class="form-control" required />
            </div>
        </div>
        <button class="btn btn-info btn-block" 
        data-toggle="modal" (click)="login()"  *ngIf="loginRequest.username && loginRequest.password">Login</button>
    </form>
    <p *ngIf="message" class="text-danger text-center mt-3">{{ message }}</p>
</div>

<!-- OTP -->
<div class="modal" tabindex="-1" role="dialog" id="newModel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h5 class="modal-title text-white">Verify OTP</h5>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="otp" class="col-4">OTP</label>
            <div class="col-8">
              <input
                id="otp"
                [(ngModel)]="otpVerification.otp"
                type="text"
                name="otp"
                class="form-control"
                placeholder="Enter OTP here...."
              />
              <input type="text" [(ngModel)]="loginRequest.username" name="username" required style="display: none;">
              <input type="password" [(ngModel)]="loginRequest.password" name="password" required style="display: none;">
              <input type="text" [(ngModel)]="otpVerification.userId" id="userId" class="form-control" style="display: none;">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            (click)="verifyOtp()"
            class="btn btn-primary"
            data-dismiss="modal"
          >
            Verify OTP
          </button>
        </div>
      </div>
    </div>
  </div>